body{
	background: #FDF0D9;
	line-height:1;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.pic{
	width:50px;
	height:50px;

}
.picbig{
	position: absolute;
	width:0px;
	-webkit-transition:width 0.3s linear 0s;
	transition:width 0.3s linear 0s;
	z-index:10;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
.pic:hover + .picbig{
	width:250px;
}
#slider{
	width: 620px;
	height: 240px;
	margin: 0px auto;  
	overflow: hidden;
	background-image: url("images/loading.gif"); 
	background-repeat: no-repeat;
	background-position: center;
    margin: 0px auto;
    float: left; 
}
.slider:img{
	width: 620px;
	height: 240px;
	display: none;
}
#wrapper{
	z-index: 1;
    margin-top: 40px;
    margin-left: 80px; 
    float:left;
}
   a, a:visited {
    	text-decoration:none;
    }
    a:hover, a:active {
    	text-decoration:none;
    }

    #dev7link {
        position:absolute;
        top:0;
        left:50px;
        background:url(images/dev7logo.png) no-repeat;
        width:60px;
        height:67px;
        border:0;
        display:block;
        text-indent:-9999px;
    }

.slider-wrapper { 
    	float:left;

    }

    /*====================*/
    /*=== Other Styles ===*/
    /*====================*/
   
    #header{
    width: 100%;
    height: 160px;
    background-color: #FDF0D9;
  }

   #logo{
    position: relative;
    float:left;
    top: 40px;
    left: 30px;
    margin:0px;
    }

    .banner{
    margin-top: 40px;
    float: left;
    }

    #divider{
    background-color: #FF2C5F;
    width: 20px;
    height: 120px;
    display: inline-block;


  }


    nav{
        background-color: #FF2C5F;
        width: 100%;
        height: 60px;
    }
    nav a:visited{
        color: #036AC3
    }
    nav li{
        position: absolute;
        padding: 20px;
        border: #999 2px dashed
        white-space: nowrap;
        width: 15%;
        min-width: 150px;


    }
   nav a{
        padding: 12px 20px;
        color:#FFFFFF;
     
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }
    nav a:hover{
        color:#036AC3;
    }

    /* drop down menu?*/
    nav details > summary{
        background: #FF2C5F;
        color:#FFF;
    }
    nav details > summary:hover{
        background: #C41230;
    }

    nav details > a{
        color:#FFF;
        background: #333;
    }
    nav details > a:hover{
        background: #FF2C5F;
        font-weight: bold;
    }
    nav details > a:before{
        content: "- ";
    }