body{
	background: #FFFFFF;
	line-height:1;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}
.row {
		  width: 100%;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: 0;
		  margin-bottom: 0;
		  max-width: 62.5rem;
		  *zoom: 1; 
}
.pic{
	width:50px;
	height:50px;

}
.picbig{
	position: absolute;
	width:0px;
	-webkit-transition:width 0.3s linear 0s;
	transition:width 0.3s linear 0s;
	z-index:10;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
.pic:hover + .picbig{
	width:250px;
}
.slider{
	width: 800px;
	height: 350px;
	margin: 0px auto;
	overflow: hidden;
	background-image: url("images/loading.gif"); 
	background-repeat: no-repeat;
	background-position: center;
}
.slider>img{
	width: 800px;
	height: 350px;
	display: none;
}
#wrapper{
	z-index: 1;
}
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; 
}
   a, a:visited {
    	text-decoration:none;
    }
    a:hover, a:active {
    	text-decoration:none;
    }

    #dev7link {
        position:absolute;
        top:0;
        left:50px;
        background:url(images/dev7logo.png) no-repeat;
        width:60px;
        height:67px;
        border:0;
        display:block;
        text-indent:-9999px;
    }

    .slider-wrapper { 
    	width: 80%; 
    	margin: 0px auto;
    }

    /*====================*/
    /*=== Other Styles ===*/
    /*====================*/
    .clear {
    	clear:both;
    }
     #header{
    width: 16%;
    height: 160px;
    background-color: #FFFFFF;
    font-size: 20px;
    color: #FF2C5F;
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    display: inline-block;
  }
  #divider{
    background-color: #FF2C5F;
    width: 2%;
    height: 160px;
    display: inline-block;
    margin-top: 40px;

  }
      nav{
        background-color: #FF2C5F;
        width: 100%;
        height: 60px;
        display: inline-block;
    }
    nav a:visited{
        color: #FFFFFF
    }
    nav li{
        position: absolute;
        padding: 20px;
        white-space: nowrap;
        width: 15%;
        min-width: 150px;


    }
   nav a{
        padding: 12px 20px;
        color:#FFFFFF;
        background: #FF2C5F;
        -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        transition: background 0.3s linear 0s, color 0.3s linear 0s;
    }
    nav a:hover{
        background: #C41230;
        color:#046BC4;
    }
    nav details{
        position: absolute;
    }
    nav details > summary{
        z-index: 10;
        cursor:pointer;
        background: #FF2C5F;
        margin-top:-26px;
        padding:8px;
        color:#FFF;
        -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
        transition: background 0.3s linear 0s, color 0.3s linear 0s;
    }
    nav details > summary:hover{
        background: #C41230;
    }
    nav details > a{
        display: block;
        text-decoration: none;
        color:#FFF;
        font-size:13px;
        background: #FF2C5F;
    }
    nav details > a:hover{
        background: #C41230;
        font-weight: bold;
    }
    nav details > a:before{
        content: "- ";
    }
    img{
      position: absolute;
      width: 45%;
      height: 200px;
      margin-left: 0;
      margin-top: 40px;
    }
    .banner{
      margin-top: 40px;
    }
    .blue{
      background-color: #B1D1EC;
    }
    .drop{
        margin-top: 20px;
    }
    .beerClub{
        width: 20%;
        height: 200px;
        float: right;
        position: relative;
        margin-top: 40px;
        margin-right: 16%;
        color: #1774C4;
        font-size:1.5em;

    }
    .beerClub::after{
        position: absolute;
        content: "";
        background: url('images/beer-tops-1.jpg');
        background-size: 100%;
        opacity: 0.5;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        
    }